/* src/App.css (tambahan) */

/* Styling untuk konten di dalam popup MapLibre */
.maplibregl-popup-content {
  padding: 15px;
  font-family: sans-serif;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.maplibregl-popup-content h3 {
  margin: 0 0 5px 0;
  color: #1B5E20; /* Warna hijau tema kita */
}

.maplibregl-popup-content p {
  margin: 0;
  font-size: 0.9em;
  color: #333;
}

/* Mengubah warna tombol close (x) */
.maplibregl-popup-close-button {
  font-size: 1.5em;
  color: #777;
  padding: 0 5px;
}

.maplibregl-popup-close-button:hover {
  background-color: transparent;
  color: #000;
}
